* {
  margin: 0;
  padding: 0;
}

.container {
  height: 100%;
  width: 100%;
  text-align: center;

  position: relative;
  top: 5em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  box-sizing: content-box;
}

.background {
  height: 100vh;
  width: 100vw;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.2)),
  url('../img/bg-main.png') no-repeat center center fixed;
  background-size: cover;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  display: block;
}

.title {
  font-family: 'Oswald', sans-serif;
  color: orange;
  font-size: 5em;
  font-weight: 700;
  border-top: solid 5px orangered;
  border-bottom: solid 5px orangered;
  letter-spacing: 5px;
  text-transform: uppercase;
  text-shadow: 2px 2px 5px orangered;
}

.grid {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 80%;
  height: auto;
  gap: 1em;

  color: mistyrose;
  font-size: 1.5em;
}

.grid a {
  text-decoration: none;
  color: mistyrose;
  padding: 1em;
  perspective: 800px;
}

.grid a:hover img {
  transform: scale(1.5) rotateY(15deg);
  box-shadow: 0 0 50px orangered;
}

.grid a img {
  width: 360px;
  height: 200px;
  border: solid 3px mistyrose;
  border-radius: 10px;
  transition: transform .5s;
  box-shadow: 0 0 10px coral;
}

@media (max-width: 1100px) {
  .title {
    font-size: 4em;
  }
}

@media (max-width: 880px) {
  .title {
    font-size: 3em;
  }
}

@media (max-width: 1100px) {
  .title {
    margin: 0 1em;
  }
}
